<div class="product-item" {{action 'addToCart' product.sku}}>
  <h2>{{product.name}}</h2>
  <p>
    {{product.category}}<br />
    {{product.imageThumbnail}}<br />
    {{product.imageMedium}}<br />
    {{product.imageDetail}}<br />
    {{product.price}}
  </p>
</div>
